<ion-header hidden>
  <ion-navbar color="danger">
    <ion-title>
      Feedly
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item text-center no-lines>
    <ion-icon name="logo-rss" class="logo" color="light"></ion-icon>
  </ion-item>
  <ion-item text-center no-lines>
    <h1>Oma Chat</h1>
    <h1>Kirjaudu Sisään</h1>
    <h6>Luonut Joni Peltomaa</h6>
  </ion-item>
  <ion-grid style="width: 75%;">
    <ion-row class="rowStyle">
      <ion-icon name="mail" color="danger"></ion-icon>
      <ion-input type="email" placeholder="Sinun sähköposti" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="rowStyle">
      <ion-icon name="key" color="danger"></ion-icon>
      <ion-input type="password" placeholder="Sinun salasana" [(ngModel)]="password"></ion-input>
    </ion-row>
    <ion-row>
      <button ion-button block round outline color="light" style="margin-top: 20px;" (click)="login()">Kirjaudu</button>
    </ion-row>
  </ion-grid>
  <button ion-button block clear color="light" (click)="gotoSignup()">
    Ei ole tunnuksia? Luo tunnukset
  </button>
</ion-content>
