<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      <small>{{ comments.length }} ihmistä on kommentoinut.</small>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-icon item-left name="ios-chatbubbles-outline"></ion-icon>
      <h2>
        <small>{{ comment.data().text }}</small>
      </h2>
      <p>
        <small>
          {{ comment.data().owner_name }} <i> {{ ago(comment.data().created.toDate()) }} sitten </i>
        </small>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
